<div class="w-50">
	<form
		id="formChat"
		class="container"
	>
		<div class="mb-3">
			<label
				for="inputName"
				class="form-label fw-bolder"
				>Nombre de Usuaio</label
			>
			<input
				type="text"
				class="form-control"
				id="inputName"
				required
			/>
		</div>
		<div class="mb-3">
			<label
				for="inputMessage"
				class="form-label fw-bolder"
				>Mensaje</label
			>
			<textarea
				type="text"
				class="form-control"
				id="inputMessage"
				style="height: 200px"
				required
			></textarea>
		</div>
		<div class="d-flex justify-content-center mt-5">
			<button
				id="btnSend"
				class="btn btn-outline-dark px-4"
			>
				Enviar
			</button>
		</div>
	</form>
</div>
