<h1 class="text-center fs-1 fw-bolder my-5">Prueba de socket.io</h1>
<a href="https://socket.io/"
	><img
		width="200"
		src="https://www.svgrepo.com/show/342225/socket-io.svg"
		alt="Socket.io Logo"
/></a>
