<nav class="navbar navbar-expand-lg container sticky-top bg-light">
	<div class="container-fluid">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a
					class="navbar-brand"
					href="https://developer.mozilla.org/es/docs/Web/API/WebSockets_API"
				>
					<img
						width="40"
						src="https://www.svgrepo.com/show/354553/websocket.svg"
						alt="WebSocket logo"
					/>
					<span
						class=""
						data-icon="logos:websocket"
					></span>
					WebSocket
				</a>
			</li>
		</ul>
	</div>
</nav>
