<h2
	id="productList"
	class="text-center fs-2 fw-bolder my-5"
>
	Lista de productos
</h2>
<table class="table mb-3">
	<thead>
		<tr>
			<th scope="col">Nombre de producto</th>
			<th scope="col">Precio</th>
			<th scope="col">Imagen</th>
		</tr>
	</thead>
	<tbody id="tableProdAdded"></tbody>
</table>
