<!DOCTYPE html>
<html lang="es">
	<head>
		<%-include("./layouts/head.ejs")-%>
	</head>
	<body>
		<h1 class="text-center text-primary fw-bolder mt-3 mb-5">
			Agregar productos
		</h1>
		<%-include("./layouts/form.ejs")-%>
		<div class="d-flex justify-content-center">
			<a
				class="text-decoration-none"
				href="/productos"
				><button
					type="submit"
					class="btn btn-outline-dark mb-3 px-5"
				>
					Productos
				</button>
			</a>

	</body>
</html>
